<div class="container">
	<table>
		<tr>
			<td>
				<img  src="/assets/img/quotation.png" class="img-responsive">
			</td>
			<td width="90%">
				<h1>Listado de Solicitudes y Ofertas</h1>
			</td>
		</tr>
	</table>
	<p align="justify">
	Estimado Usuario(a): En la parte inferior encontrara el listado de solicitudes creadas con su correspondientes ofertas en cada tarjeta. Al momento de tener ofertas podras tomar alguna para su posterior cotización definitiva.
	</p>
</div> 


<div class="container" id="global2">

  <div class="row" *ngFor="let delivery of deliveries">
    <div class="card">
      <div class="card-header">
        <b>Despacho:</b> {{delivery.id}} - <b>Creacion:</b> {{delivery.createdAt}} - <b>Estado:</b> {{delivery.state}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">

          <div class="col-auto">
            <label><b>Origen:</b> {{delivery.sourceName}}</label>
          </div>

          <div class="col-auto">
            <label><b>Destino:</b> {{delivery.destinationName}}</label>
          </div>

          <div class="col-auto">
            <label><b>Peso (kg):</b> {{delivery.weight}}</label>
          </div>

          <div class="col-auto">
            <label><b>Volumen (cm3):</b> {{delivery.volume}}</label>
          </div>

          <div class="col-auto">
            <label><b>Descripcion:</b> {{delivery.description}}</label>
          </div>

          <footer class="blockquote-footer">

            <div class="col-auto">
              <div class="mb-3">
                <label  class="form-label">Oferta</label>
                <input type="number" class="form-control" id="offer{{delivery.id}}">
                <button type="button" class="btn btn-primary btn-sm btn-success" (click)="createOffer(delivery.id)">Enviar oferta</button>
              </div>
            </div>

          </footer>
        </blockquote>
      </div>
    </div>
    <br>
  </div>
</div>
